$whiteColor: #fff;
$blackColor: #000;
$greyColor: #f6f6f6;
$lightGray: #909090;
$lightRedColor: #fe4e51;
$redColor: #ec1651;
$blueColor: #10b0e6;
$sharpBlueColor: #0080ff;
$blurBlueColor: #007bf3;
$yellowColor: #fcb813;
$lightDarkColor: #22262b;
$lightGreenColor: #16afbe;
$lightPinkColor: #ec1651;
$lightBlueColor: #10b0e6;
$krMartColor: #ff4d50;
$edulogColor: #00abaf;
$borderColor: #e8e8e8;
$primaryKpiDashboard: #1eb2ff;

// Mouse scroll down
$colorBg: #222a30;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;

$widthMouse: 30px;
$heightMouse: 53px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 7px;
$posTrackball: 10px;
$shrinkTrackball: 0.4;

$animDuration: 5s;
