.top-templates {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    color: #009b74;
    font-weight: bold;
    font-family: "Roboto";
    padding-bottom: 20px;
}